<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.projetmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Recherche"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortlist"
            android:label="Short List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recherchesauvegardee"
            android:label="Recherche sauvegardée"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parametre"
            android:label="Parametres"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListeAnonces" />
        <activity android:name=".DetailAnonces"></activity>
    </application>

</manifest>